h1 {
  color: rgba(2, 173, 185, 0.966);
  text-align: center;
  padding-bottom: 0%;
  padding-top: 0%;
  margin-top: 0%;
  background: grey;
}
  
.App {  
  text-align: center;
  background: url("https://images4.alphacoders.com/739/739453.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: 0%;
  background-attachment: scroll;

}
